<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Flag Crab</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/barebones.css">
    <link rel="stylesheet" href="static/css/custom.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="static/images/favicon-16.png">

</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="header">
    <h2 class="title">Flag Crab</h2>
</section>
<div class="container">
    <div>
        <form action="/" method="post">
            <label for="description">Name</label>
            <input type="text" id="description" class="u-full-width" placeholder="Turbo boost..."
                   name="name"/>
            <input class="button-primary" type="submit" value="Submit">
        </form>
    </div>
    <div class="el-input el-input-group el-input-group--append el-input-group--prepend">
        <div class="el-input-group__prepend"><span class="el-icon-plus"></span></div>
        <input type="text" autocomplete="off" placeholder="Specific new flag description" class="el-input__inner">
        <!----><!---->
        <div class="el-input-group__append">
            <div class="el-dropdown" disabled="disabled">
                <div class="el-button-group">
                    <button type="button" class="el-button el-button--primary"><!---->
                        <!----><span> Create New Flag </span></button>
                    <button type="button" class="el-button el-button--primary el-dropdown__caret-button"
                            aria-haspopup="list" aria-controls="dropdown-menu-1389"><!----><!----><span><i
                            class="el-dropdown__icon el-icon-arrow-down"></i></span></button>
                </div>
                <ul class="el-dropdown-menu el-popper" style="display: none;" id="dropdown-menu-1389">
                    <li aria-disabled="true" class="el-dropdown-menu__item is-disabled"><!---->Create Simple Boolean
                        Flag
                    </li>
                </ul>
            </div>
        </div><!----></div>
    <div>
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>name</th>
            </tr>
            </thead>
            <tbody>
            {{#each flags}}
                <tr>
                    <td class="id">{{id}}</td>
                    <td>
                        {{name}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
