<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Flag Crab</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/barebones.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="static/images/favicon-16.png">

</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="header">
    <h2 class="title">Flag Crab</h2>
</section>
<div class="container">
    <div>
        <form action="/" method="post">
            <label for="exampleEmailInput">Your id</label>
            <input class="u-full-width" type="number" placeholder="18" id="exampleEmailInput" name="id">
            <label for="description">Name</label>
            <input type="text" id="description" class="u-full-width" placeholder="Turbo boost..."
                   name="name"/>
            <input class="button-primary" type="submit" value="Submit">
        </form>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>name</th>
            </tr>
            </thead>
            <tbody>
            {{#each flags}}
                <tr>
                    <td>{{id}}</td>
                    <td>
                        {{name}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
